<div class="container">
  <div class="row">
    <div class="col-md-12">

      <form (ngSubmit)="onSubmit()" #f="ngForm">

        <div class="form-group row section-title">
          <label for="name" class="col-md-3 col-form-label ">NAME</label>
          <div class="col-md-9">
            <input type="text" 
            class="form-control" 
            id="name" 
            placeholder="Enter Your Name" 
            name="name"
            ngModel 
            required 
            #name="ngModel">
            <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a Username!</span>
          </div>          
        </div>

        <div class="form-group row section-title">
          <label for="email" class="col-md-3 col-form-label">EMAIL</label>
          <div class="col-md-9">
          <input type="email" 
          id="email" 
          class="form-control" 
          placeholder="Enter Your Email"
          name="email"  
          ngModel           
          required 
          email 
          #email="ngModel">
          <span *ngIf="!email.valid && email.touched">            
            <span *ngIf="email.errors['email'] && !email.errors['required']">
            Please enter valid Email Address.
            </span>
            <span *ngIf="email.errors['required']">
              Please enter your Email Address.
              </span>
          </span> 
          </div>          
        </div>

        <div class="form-group row section-title" >
          <label class="col-md-3 col-form-label">GENDER</label>
          <div class="col-md-9 d-flex flex-row">
            <div *ngFor="let gender of genders">
              <input class="mr-1" type="radio" name="gender" [value]="gender" ngModel required><span class="mr-3">{{gender}}</span>
            </div>
          </div>                  
        </div>

        <div class="form-group row section-title">
          <label for="phoneNo" class="col-md-3 col-form-label">PHONE NUMBER</label>
          <div class="col-md-9">
            <input type="number" 
            class="form-control" 
            id="phoneNo" 
            placeholder="Enter Your Contact Number" 
            ngModel 
            name="phoneNo">
          </div>
        </div>
 
        
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary mr-2 section-title" type="submit" [disabled]="!f.valid">SUBMIT</button>
            <button class="btn btn-danger section-title" type="button" (click)="onReset()" >RESET</button>
          </div>
        </div>

      </form>
    </div>
  </div>
 
  <h3 class="head-title mt-4" style="text-align:center;" *ngIf="submitted">Your Data</h3>
    <hr>
    
    <div class="row" *ngIf="submitted" >      
      <!-- <div *ngFor ="let user of entryArray;let i = index">
        <div class="col-md-12" >
          <h4>Entry {{i+1}}:</h4>
          <p>User name:{{user.name}} </p>
          <p>Email:{{user.email}} </p>
          <p>Gender:{{user.gender}} </p>
          <p>Phone Number: {{user.phoneNo}}</p>
        </div>
      </div> -->


      <div class="card-columns">
        <div *ngFor ="let user of entryArray;let i = index" class="card shadow">
          <div class="card-header head-title">
            <h5>Entry {{i+1}}</h5>
          </div>
          <div class="card-body">
            
            <p class="card-text section-title">Name: <span class="section-title-light">{{user.name}}</span></p>
            <p class="card-text section-title">Email: <span class="section-title-light"><a href="mailto:{{user.email}}">{{user.email}}</a></span></p>
            <p class="card-text section-title">Gender: <span class="section-title-light">{{user.gender}}</span></p>
            <p class="card-text section-title">Phone Number: <span class="section-title-light">{{user.phoneNo}}</span></p>
            <p class="card-text"><small class="text-muted">Updated on {{ user.time }}</small></p>
          </div>
        </div>

        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p class="section-title">Results</p>
            <footer class="blockquote-footer text-white">
              <small clas="section-title">
                Developed by <cite title="Source Title">Sudipta Dandapat</cite>
              </small>
            </footer>
          </blockquote>
        </div>

      </div>
    
    </div>
  
</div>



